@import '@/app/styles/vars';

.socialButton {
  background-color: $backgroundHighlight;
  border: none;
  border-radius: 3px;
  color: $dimText;
  width: 56px;
  height: 37px;
  margin-right: 10px;

  filter: brightness(100%);
  transition: filter 0.2s;
}
.socialButton:hover {
  filter: brightness(150%);
  transition: filter 0.2s;
}
