@import '@/app/styles/vars';

.gamecard_container {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  background-color: $backgroundDark;
  border-radius: 3px;
  padding: 15px;
  width: 1250px;
  max-height: 488px;
}

.gamecard_cover {
  border-radius: 3px;
}

.gamecard_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 15px;
}

.gamecard_details_description {
  margin-top: 11px;
}

.gamecard_details_screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 17px;
  img {
    border-radius: 3px;
  }
}

.gamecard_details_tags {
  margin-top: 17px;
}

.gamecard_details_interactions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.gamecard_details_interactions_price {
  align-items: center;
  display: flex;
  gap: 13px;
}
