@import '@/app/styles/vars';
@import '@/app/styles/globals';
@font-face {
  font-family: 'Motiva Sans';
  src: url(./fonts/MotivaSansRegular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Motiva Sans', sans-serif;
  color: $mainText;
  background-color: $backgroundDark;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }
}
