@import '@/app/styles/vars';

.dropdown-link {
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.2s;
}
.dropdown-link:hover {
  background-color: $backgroundHover;
  transition: background-color 0.2s;
}
.dropdown-link:first-child {
  border-radius: 3px 3px 0px 0px;
}
.dropdown-link:last-child {
  border-radius: 0px 0px 3px 3px;
}
