@import '@/app/styles/vars';

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $backgroundDark;
  height: 59px;
  gap: 8px;
}

#arrowRight {
  transform: scale(-1, 1);
}
