@import '@/app/styles/vars';
.nav {
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $backgroundDark;
  height: 59px;
}

#arrowRight {
  transform: scale(-1, 1);
}

#logo {
  margin-left: 19px;
}

.clientHeader-navigation {
  display: flex;
  flex-direction: row;
  gap: 66px;
  margin-left: 66px;
}

.clientHeader-arrows {
  display: flex;
  flex-direction: row;
  img {
    cursor: pointer;
  }
}
