@import '@/app/styles/vars';

.buy_button {
  background-color: $colorSecondary;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.buy_button:hover {
  background-color: $colorPrimary;
  cursor: pointer;
}
