.games_slider {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1362px;
  .slider_button {
    background: none;
  }
  .slider_container {
    overflow: hidden;
    width: 1280px;
    .slider_buttons {
      display: flex;
      gap: 8px;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
      .slider_button {
        width: 36px;
        height: 8px;
        padding: 0px;
        overflow: hidden;
      }
    }
  }
  .slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
}
