@import '@/app/styles/vars';

.small_gamecard_container {
  border-radius: 3px;
  background-color: $backgroundDark;
  padding: 15px;
  .small_gamecard_content {
    display: flex;
    flex-direction: column;
    width: 379px;
  }
  .small_gamecard_title {
    white-space: nowrap;
  }
}

.wide_gamecard_container {
  border-radius: 3px;
  background-color: $backgroundDark;
  padding: 15px;
  min-width: 596px;
  min-height: 87px;
  max-height: 87px;
  flex: 0 0 117px;
  .wide_gamecard_content {
    display: flex;
    flex-direction: row;
  }
  .wide_gamecard_info {
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .wide_gamecard_title {
    white-space: nowrap;
    overflow: hidden;
    // TEMPORARY
    width: 350px;
  }
}
