h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;

  a {
    color: $mainText;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
}

h1 {
  font-size: 26px;
  font-weight: 700;
}
h2 {
  font-size: 22px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
h4 {
  font-size: 16px;
  font-weight: 400;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}
h6 {
  font-size: 12px;
  font-weight: 400;
}

button {
  color: $mainText;
  background-color: $backgroundHighlight;
  border: none;
  border-radius: 3px;
  &:hover {
    background-color: $backgroundHover;
    cursor: pointer;
  }
}

main {
  background-color: $backgroundStore;
}
