$mainText: #f3f3f3;
$dimText: #76808c;

$accentGreen: #a1cd44;

$backgroundDark: #0e141bcc;
$backgroundHighlight: #1e2329;
$backgroundHover: #313843;
$backgroundSecondary: #14344b;
$backgroundTertiary: #212b45;
$backgroundTest: #1f2a3a;

// Cant find this color in style guide
// So i just copied it from steam page :D
$backgroundStore: #1b2838;

$colorPrimary: #66c0f4;
$colorSecondary: #4b619b;
