@import '@/app/styles/vars';
.progress_container {
  background-color: $backgroundDark;
  width: 100%;
  height: 8px;
  overflow: hidden;

  .progress_fill {
    background-color: $colorSecondary;
    height: 100%;
    transition: width 1s;
  }
}
