@import '@/app/styles/vars';

.account-card {
  align-items: center;
  background-color: $backgroundHighlight;
  border: none;
  border-radius: 3px;
  color: $mainText;
  cursor: pointer;
  display: flex;
  height: 39px;
  justify-content: space-between;
  width: 210px;
}

.account-nickName {
  margin-left: 8px;
}
.account-balance {
  color: $dimText;
  margin-left: 8px;
}

.account-avatar-placeholder {
  background-color: black;
  border-radius: 2px;
  width: 31px;
  height: 31px;
}

.account-settings {
  background-color: $backgroundHighlight;
  border-radius: 3px;
  position: absolute;
  width: 210px;
  margin-top: 15px;
}
