.gamecard_container {
  align-items: center;
  display: flex;
  background-color: black;
  border-radius: 3px;
  padding: 15px;
  max-width: 1100px;
  max-height: 488px;
}

.gamecard_cover {
  border-radius: 3px;
}

.gamecard_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 15px;
}

.gamecard_details_screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  img {
    border-radius: 3px;
  }
}

.gamecard_details_tags {
  margin-top: 17px;
}
